# Core functionality - changes here should be rare!
/src/app.py                   @sujalsharmaa
/src/backend/database.py      @sujalsharmaa
/src/backend/routers/auth.py  @sujalsharmaa

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sujalsharmaa
